- present user do |u|
  %tr[user]
    %td= u.full_name
    %td= u.login
    %td= u.human_role
    %td= mail_to u.email if u.email
    %td= u.phone_numbers
    %td.actions
      = authorized_edit_icon_link user
      = authorized_delete_icon_link user
