%h1
  = t '.title'
  %small.entries-info= page_entries_info @users
  %div.pull-right
    = authorized_icon_link :new, :user, id: 'new_user', wrap: :small

= search_form_for @q, class: 'form-vertical' do |f|
  %table.table.table-striped
    %thead
      %tr
        %th= sort_link(@q, :name, [:first_name, :name], t('activerecord.attributes.address.full_name'))
        %th= sort_link(@q, :login)
        %th= sort_link(@q, :role)
        %th= sort_link(@q, :email)
        %th= sort_link(@q, :phone)
        %th
      = render :partial => 'search', locals: {f: f}

    %tbody
      = render @users
  = paginate @users
