= simple_form_for setting, remote: true, authenticity_token: true do |f|
  .col-sm-3.col-sm-offset-1
    = render "label", setting: setting
  .col-sm-6.inputs{class: setting.errors.any? ? 'has-error' : '' }
    = render setting.form_field_partial, f: f
  = render "buttons", setting: setting
  = render('js_messages', setting: setting) if request.xhr?
