%h1= t '.title'

- @settings.group_by(&:category).each do |category, settings|
  .panel.panel-default
    .panel-heading
      %h2.panel-title= t category, scope: 'settings.categories'
    .panel-body
      - settings.group_by(&:group).each do |group, settings|
        = render "group_information", group_information(category, group)
        -settings.group_by(&:sub_group).each do |sub_group, settings|
          -unless sub_group.blank?
            %h4= t sub_group, scope: 'settings.categories.groups.sub_groups'
          = render settings

                  
