- present balance do |b|
  %tr[balance]{class: balance.manually_edited ? 'manual' : 'automatic'}
    %td= b.date
    %td= Balance.model_name.human
    %td= b.manually_edited
    %td.money
    %td.money
    %td
    %td.money= b.end_amount
    %td.actions
      = authorized_edit_icon_link balance, nested_in: :credit_agreement
      = authorized_delete_icon_link balance, nested_in: :credit_agreement
