- present balance do |b|
  - if balance.last_years_balance
    %tr.interest
      %td= l(balance.date)
      %td
      %td.money= b.start_amount
      %td.money
      %td.money= b.interest_days
      %td.money= b.interest_from_start_amount
      %td.money
      %td.actions
  %tr[balance]
    %td= b.date
    %td= Balance.model_name.human
    %td
    %td.money
    %td
    %td
    %td.money= b.end_amount
    %td.actions
      -if balance.persisted?
        links
