- present balance do |b|
  %tr[balance]
    %td= b.date
    %td= Balance.model_name.human
    %td
    %td.money
    %td.money= b.manually_edited
    %td
    %td.money= b.end_amount
    %td.actions
      = authorized_icon_link :edit, balance, nested_in: :credit_agreement
      = authorized_icon_link :delete, balance, nested_in: :credit_agreement
