-if interest_span.show?
  - present interest_span do |i|
    %tr.interest
      %td
      %td= i.type 
      %td= i.span
      %td.money= i.interest_days
      %td.money= i.calculation
      %td.money= i.amount
      %td
      %td
