%h1
  = t '.title'
  %small.entries-info= page_entries_info @balances
  .pull-right
    %small= authorized_icon_link :download_csv, :balance, id: 'download_csv', path: download_csv_balances_path(format: :csv, q: params[:q]), icon: 'download'

= search_form_for @q, url: balances_path, class: 'form-vertical' do |f|
  %table.table.table-striped
    %thead
      %tr
        %th= sort_link(@q, :credit_agreement_number, id: :sort_by_credit_agreement_id)
        %th= sort_link(@q, :date, [:date, 'credit_agreement_id asc'], id: :sort_by_date)
        -if policy(Creditor).show?
          %th= sort_link(@q, :credit_agreement_creditor_name, CreditAgreement.human_attribute_name(:creditor))
        %th.money= Balance.human_attribute_name(:start_amount)
        %th.money= Balance.human_attribute_name(:deposits)
        %th.money= Balance.human_attribute_name(:disburses)
        %th.money= Balance.human_attribute_name(:interests)
        %th.money= sort_link(@q, :end_amount, id: :sort_by_end_amount)
        %th.actions
      = render :partial => 'search', locals: {f: f}
    %tbody
      = render :partial => 'index_balance', collection: @balances
  = paginate @balances
