%h1= t '.title'

%table.table.table-striped
  %thead
    %tr
      %th= Balance.human_attribute_name(:credit_agreement_id)
      %th= Balance.human_attribute_name(:date)
      -if policy(Creditor).show?
        %th= Creditor.model_name.human
      %th.money= Balance.human_attribute_name(:start_amount)
      %th.money= Balance.human_attribute_name(:deposits)
      %th.money= Balance.human_attribute_name(:disburses)
      %th.money= Balance.human_attribute_name(:interests)
      %th.money= Balance.human_attribute_name(:end_amount)
      %th.actions

  %tbody
    = render :partial => 'index_balance', collection: @balances
