= simple_form_for [@creditor, @credit_agreement] do |f|
  .form-inputs
    = f.input :amount do
      .input-group.col-sm-3
        = f.number_field :amount, class: 'numeric decimal required form-control'
        .input-group-addon €
    = f.input :interest_rate do
      .input-group.col-sm-3
        =f.number_field :interest_rate, class: 'numeric decimal required form-control'
        .input-group-addon %
    = f.input :cancellation_period do
      .input-group.col-sm-3
        = f.number_field :cancellation_period, class: 'numeric integer required form-control'
        .input-group-addon Monate
    = f.input :number do
      .input-group.col-sm-3
        = f.text_field :number, class: 'form-control'
        .input-group-addon.text-info.with_help{data: {toggle: 'popover', content: t('help.credit_agreements.number'), placement: 'right', container: 'body'}}
          ?
    = f.association :account, collection: Account.project_accounts

  .form-actions.col-sm-12
    = f.button :submit, class: 'btn-primary', id: 'submit'
    = quit_button(:cancel)
