= simple_form_for [@creditor, @credit_agreement] do |f|
  .form-inputs.col-sm-8
    = f.input :amount do
      = f.input_field :amount
      %span €
    = f.input :interest_rate do
      =f.input_field :interest_rate
      %span %
    = f.input :cancellation_period do
      = f.input_field :cancellation_period
      %span Monate
    = f.association :account, collection: Account.project_accounts

  .form-actions.col-sm-12
    = f.button :submit, class: 'btn-primary', id: 'submit'
    = quit_button(:cancel)
