- if @credit_agreement.persisted?
  .col-sm-3
  .col-sm-6.well
    %p
      Dieses Datum bestimmt ab wann die aktualisierte Version des Vertrages in Kraft tritt. Richtig wichtig ist das bei Änderungen des Zinssatzes.
    %p
      Die momentante Version des Kreditvertrages ist gültig ab dem
      %strong= I18n.l(@credit_agreement.valid_from_was)
.clearfix
= simple_form_for [@creditor, @credit_agreement] do |f|
  .form-inputs
    = f.input :valid_from, wrapper: :horizontal_multi_select, include_blank: true, selected: @credit_agreement.valid_from || Date.today.year
    = f.input :amount do
      .input-group.col-sm-3
        = f.number_field :amount, class: 'numeric decimal required form-control'
        .input-group-addon €
    = f.input :interest_rate do
      .input-group.col-sm-3
        =f.number_field :interest_rate, class: 'numeric decimal required form-control'
        .input-group-addon %
    = f.input :cancellation_period do
      .input-group.col-sm-3
        = f.number_field :cancellation_period, class: 'numeric integer required form-control'
        .input-group-addon Monate
    = f.input :number do
      .input-group.col-sm-3
        = f.text_field :number, class: 'form-control'
        .input-group-addon.text-info.with_help{data: {toggle: 'popover', content: t('help.credit_agreements.number'), placement: 'right', container: 'body'}}
          ?
    = f.association :account, collection: Account.project_accounts

  .form-actions.col-sm-12
    = f.button :submit, class: 'btn-primary', id: 'submit'
    = quit_button(:cancel)
