-if @credit_agreement.payments.any?
  %h2= t '.payments'
  %table.table
    %thead
      %tr
        %th= Payment.human_attribute_name(:date)
        %th= Payment.human_attribute_name(:type)
        %th= Balance.human_attribute_name(:interest_span)
        %th.money= Balance.human_attribute_name(:interest_days)
        %th.money= Balance.human_attribute_name(:interest_calculation)
        %th.money= Payment.human_attribute_name(:amount)
        %th.money= CreditAgreement.human_attribute_name(:balance)
        %th
    %tbody
      = render @credit_agreement.balance_items
