%h1= t '.title'

%table.table.table-striped
  %thead
    %tr
      -if policy(CreditAgreement).edit?
        %th= CreditAgreement.human_attribute_name :id
      %th= CreditAgreement.human_attribute_name :account
      -if policy(:creditor).show?
        %th= CreditAgreement.human_attribute_name :creditor
      %th= CreditAgreement.human_attribute_name :cancellation_period
      %th.money= CreditAgreement.human_attribute_name :amount
      %th.money= CreditAgreement.human_attribute_name :interest_rate
      %th

  %tbody
    = render @credit_agreements
