%h1
  = t '.title'
  %small.entries-info= page_entries_info @credit_agreements
  .pull-right
    %small= authorized_icon_link :download_csv, :credit_agreement, id: 'download_csv', path: download_csv_credit_agreements_path(format: :csv, q: params[:q]), icon: 'download'

= search_form_for @q, class: 'form-vertical' do |f|
  %table.table.table-striped
    %thead
      %tr
        -if policy(CreditAgreement).edit?
          %th= sort_link(@q, :number)
        %th= CreditAgreement.human_attribute_name :account
        -if policy(:creditor).show?
          %th= CreditAgreement.human_attribute_name :creditor
        %th= sort_link(@q, :cancellation_period)
        %th.money= sort_link(@q, :amount)
        %th.money= sort_link(@q, :interest_rate)
        %th.money= CreditAgreement.human_attribute_name :balance
        %th
      = render :partial => 'search', locals: {f: f}

    %tbody
      = render @credit_agreements
  = paginate @credit_agreements

