- present(@credit_agreement) do |credit_agreement|
  %h1
    = t '.title', number: credit_agreement.number
    %small= "- #{@credit_agreement.account.name}"
    .pull-right
      %small
        = authorized_icon_link :edit, credit_agreement, nested_in: credit_agreement.creditor
  = render partial: 'history', locals: { credit_agreement: credit_agreement } if credit_agreement.versions.any?
  = render partial: 'details', locals: { credit_agreement: credit_agreement }

  -if @credit_agreement.active?
    = render :partial => 'termination_form'

  %h2= t '.balances'
  -if policy(Payment.new(credit_agreement_id: @credit_agreement.id)).create?
    #new_payment_form
      = render partial: 'payments/inline_form', locals: { credit_agreement: @credit_agreement, payment: Payment.new }

  #balances
    = render :partial => 'balances'
