- present(@credit_agreement) do |credit_agreement|
  %h1
    = t '.title', number: @credit_agreement.id
  = render partial: 'details', locals: { credit_agreement: credit_agreement }

  -unless @credit_agreement.terminated?
    = render :partial => 'termination_form'

  %h2= t '.balances'
  -if policy(Payment.new(credit_agreement_id: @credit_agreement.id)).create?
    #new_payment_form
      = render partial: 'payments/inline_form', locals: { credit_agreement: @credit_agreement, payment: Payment.new }

  #balances
    = render :partial => 'balances'
