= render :partial => 'help'
= simple_form_for @letter do |f|
  .form-inputs
    = f.input :subject, as: :string, placeholder: placeholder(@letter, :subject)
    = f.input :content, placeholder: placeholder(@letter, :content)
    = f.input :year, as: :string if @letter.is_a?(BalanceLetter)
  .form-actions
    = f.button :submit, class: 'btn-primary', id: 'submit'
    = quit_button(:cancel)
    
