.col-sm-3
.col-sm-9.well
  %p
    Der Text kann (sehr begrenzt und wenig komfortabel) formatiert werden. Zur Verfügung stehen:
  %ul
    %li= 'Fettsatz: Der fett geschriebene Text muß zwischen <b> und </b> eingeschlossen werden'
    %li= 'Kursiv: Der kursiv gesetzte Text muß zwischen <i> und </i> eingeschlossen werden'
    %li= 'Unterstrichen: Der unterstrichene Text muß zwischen <u> und </u> eingeschlossen werden'
  %p 
    weitere (warhscheinlich nicht benötigte) Formatierungs-Möglichkeiten können im 
    = link_to 'Prawn-Manual', 'http://prawnpdf.org/manual.pdf'
    = 'unter Inline-Formatting nachgelesen werden.'
  -if @letter.is_a?(PaymentLetter)
    %p
      Folgende Platzhalter können verwendet werden:
      %ul
        %li #BETRAG wird ersetzt durch den Betrag der Zahlung, formatiert und mit €-Zeichen
        %li #DATUM wird ersetzt durch das Datum des Zahlungseinganges
        %li #PROJEKT_N wird ersetzt durch den Namen der GmbH / des Vereins inklusive Artikel im Nominativ
        %li #PROJEKT_G wird ersetzt durch den Namen der GmbH / des Vereins inklusive Artikel im Genitiv
        %li #PROJEKT_D wird ersetzt durch den Namen der GmbH / des Vereins inklusive Artikel im Dativ
        %li #PROJEKT_A wird ersetzt durch den Namen der GmbH / des Vereins inklusive Artikel im Akkusativ 
