%h1 
  = t '.addresses'
  .pull-right
    = authorized_icon_link :new, :project_address, wrap: :small, id: 'new_project_address'

%table.table.table-striped.addresses
  %thead
    %tr
      %th= ProjectAddress.human_attribute_name :full_name
      %th= ProjectAddress.human_attribute_name :street_number
      %th= ProjectAddress.human_attribute_name :city
      %th= ProjectAddress.human_attribute_name :country_code
      %th
  %tbody
    = render @addresses

%h1= t '.accounts'
%table.table.table-striped.accounts
  %thead
    %tr
      %th= Account.human_attribute_name :name
      %th.money= Account.human_attribute_name :funded_credits_sum
      %th.money= Account.human_attribute_name :average_rate_of_interest
      %th.money eingegangen
      %th.money zurückgezahlt
      %th.money Zinsen
      %th.money Kreditsaldo
  %tbody
    = render partial: 'account', collection: @accounts
    = render :partial => 'sums'

%h1
  = t '.funds'
  .pull-right
    = authorized_icon_link :new, :fund, wrap: :small, id: 'new_fund'
%table.table.table-striped.funds
  %thead
    %tr
      %th= Fund.human_attribute_name :interest_rate
      %th= Fund.human_attribute_name :limit
      %th= Fund.human_attribute_name :issued_at
      %th
  %tbody
    = render @funds
