%h1= t '.title'
= render "devise/shared/links"
= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-inputs.col-sm-6
    = f.input :login, required: false, autofocus: true
    = f.input :password, required: false
  %div{style: "clear: both"}
  .form-actions.col-sm-6
    = f.button :submit, t("devise.actions.log_in"), class: 'btn-primary pull-right', id: 'submit'
