-present payment do |p|
  %tr[payment]
    %td= p.date
    %td= payment.class.model_name.human
    -if controller_name == 'payments'
      - present p.credit_agreement.creditor do |creditor|
        %td= authorized_link :show, creditor.model, creditor.full_name
      - present p.credit_agreement do |credit_agreement|
        %td= authorized_link :show, credit_agreement, credit_agreement.number
      %td= p.credit_agreement.account.name
      %td.money= p.amount
    -else
      %td.money
      %td.money
      %td.money
      %td.money= p.amount
      %td
    %td.actions
      = authorized_icon_link :edit, payment, nested_in: :credit_agreement
      = authorized_icon_link :delete, payment, nested_in: :credit_agreement
