-present payment do |p|
  %tr[payment]
    %td= p.date
    %td= payment.class.model_name.human
    %td.money
    %td.money
    %td.money
    %td.money= p.amount
    %td
    %td.actions
      -if policy(payment).edit?
        = icon_link_to :edit,
          edit_credit_agreement_payment_path(payment.credit_agreement, payment),
          id: "edit_payment_#{payment.id}",
          title: t('links.edit')
      -if policy(payment).destroy?
        = icon_link_to :trash,
          [payment.credit_agreement, payment], method: :delete,
          data: { confirm: 'Are you sure?' },
          id: "delete_payment_#{payment.id}",
          title: t('links.delete')
