%h1
  = t '.title'
  %small.entries-info= page_entries_info @payments
  .pull-right
    %small= authorized_icon_link :download, :payment, id: 'download_xlsx', path: payments_path(format: :xlsx, q: params[:q]), icon: 'download'

= search_form_for @q, class: 'form-vertical' do |f|
  %table.table.table-striped
    %thead
      %tr
        %th= sort_link(@q, :date)
        %th= sort_link(@q, :type)
        - if policy(:creditor).show?
          %th= sort_link(@q, :credit_agreement_creditor_name, Payment.human_attribute_name(:credit_agreement_creditor_name))
        %th= sort_link(@q, :credit_agreement_number, Balance.human_attribute_name(:credit_agreement_id)) if policy(:credit_agreement).show?
        %th= sort_link(@q, :credit_agreement_account_id)
        %th.money= sort_link(@q, :amount)
        %th.actions
      = render :partial => 'search', locals: {f: f}
    %tbody
      = render @payments
  = paginate @payments
