.dropdown.pull-right.actions
  %button.btn.btn-default.dropdown-toggle{type: "button", id: "action-dropdown", data: {toggle: "dropdown"}}
    =link_to 'Aktion', ''
    %span.caret
  %ul.dropdown-menu
    = authorized_icon_link :index, :address, 
      icon: 'th-list', path: cancel_path(@address),
      id: 'back', text: t('links.back'), wrap: :li
    = authorized_icon_link :edit, @address, 
      icon: 'edit', wrap: :li,
      id: 'edit', text: t('links.edit')
    = authorized_icon_link :new, :contact, 
      icon: 'user', nested_in: @address, condition: (@type != 'Person'), wrap: :li,
      id: 'add_contact', text: t("for_#{key_with_legal_form(@address)}", scope: 'links.new_contact')
    = authorized_icon_link :new, :account, 
      icon: 'credit-card', nested_in: @address, wrap: :li,
      id: 'add_account', text: t('links.new_account')
    = authorized_icon_link :new, :credit_agreement, 
      icon: 'file', nested_in: @address, condition: (@type != 'ProjectAddress'), wrap: :li,
      id: 'add_credit_agreement', text: t('links.new_credit_agreement')
