- present(address) do |a|
  %tr[address]
    %td= a.full_name
    %td= a.address
    %td= mail_to a.email if a.email
    %td= a.phone_numbers(separator: '</br>')
    %td
    %td 
      = icon_link_to 'eye-open', address, title: t('links.show'), id: "show_#{address.id}"
      = icon_link_to 'edit', edit_address_path(address), title: t('links.edit'), id: "edit_#{address.id}"
      = icon_link_to 'trash', address, :method => :delete, :data => { :confirm => 'Are you sure?' }, title: t('links.delete'), id: "delete_#{address.id}"
