- present(address) do |a|
  %tr[address]
    %td
      = link_to_if policy(address).show?, a.full_name, address, id: "show_#{address.id}", title: t('links.show')
    %td
      = a.street_number
    %td
      = a.zip
      = a.city
    %td
      = a.country_name
    %td
      = icon_popover(:earphone, a.phone_numbers, Creditor.human_attribute_name(:phone))
      = icon_mail_to(a.email, title: a.email)
      = icon_popover('info-sign', a.notes, Creditor.human_attribute_name(:notes))
    = render partial: address.list_action_partial_path, locals: {address: a}
