- present(address) do |a|
  %tr
    %td= a.full_name
    %td= a.address
    %td= mail_to a.email
    %td= a.phone_numbers
    %td 
      = icon_link_to 'eye-open', address
      = icon_link_to 'edit', edit_address_path(address)
      = icon_link_to 'trash', address, :method => :delete, :data => { :confirm => 'Are you sure?' }
