- present(address) do |a|
  %tr[address]
    %td
      = link_to_if policy(address).show?, a.full_name, address, id: "show_#{address.id}", title: t('links.show')
      = popover_notes(address)
    %td= a.address
    %td= mail_to a.email if address.email
    %td= a.phone_numbers(separator: '</br>')
    = render :partial => address.list_action_partial_path, locals: {address: a}
