-if @type != 'Person' && @address.contacts.any?
  .contacts
    %h2
      = t(key_with_legal_form(@address) + '.contacts', scope: 'activerecord.attributes')
    %table.table.table-striped
      %thead
        %tr
          %th= Address.human_attribute_name :full_name
          %th= Address.human_attribute_name :street_number
          %th= Address.human_attribute_name :city
          %th= Address.human_attribute_name :country_code
          %th
          %th
        %tbody
          = render @address.contacts
