- present(contact) do |a|
  %tr[contact]
    = render :partial => 'common_address_cells', locals: {address: a}
    %td
      = icon_link_to 'edit', 
        send("edit_#{@type.underscore}_contact_path", @address, contact), 
        title: t('links.edit'), id: "edit_#{contact.id}"
      = icon_link_to 'trash', [contact.organization, contact], :method => :delete, :data => { :confirm => 'Are you sure?' }, title: t('links.delete'), id: "delete_#{contact.id}"
