= simple_form_for @address do |f|

  .form-inputs
    - if @address.person?
      = render partial: 'person_fields', locals: {f: f}
    - else
      = render partial: 'organisation_fields', locals: {f: f}

  .form-actions.col-sm-12
    = f.button :submit, class: 'btn-primary', id: 'submit'
    = cancel_button 
