%p= [address.address, mail_link(address), address.phone_numbers(br: false)].compact.join(' | ').html_safe
%h2
  = 'Ansprechpartner'
  = icon_link_to :plus, new_project_address_contact_path(address), class: 'pull-right'

  %tr
    %th= Address.human_attribute_name :full_name
    %th= Address.human_attribute_name :address
    %th= Address.human_attribute_name :email
    %th= Address.human_attribute_name :phone
    %th
  = render @address.contacts
