%h1 
  = t(".title.#{@type.underscore}")
  = render :partial => 'index_actions'

%table.table.table-striped
  %thead
    %tr
      %th= Address.human_attribute_name :full_name
      %th= Address.human_attribute_name :address
      %th= Address.human_attribute_name :email
      %th= Address.human_attribute_name :phone
      %th
  %tbody
    = render @addresses
= paginate @addresses

