%h1 
  = t(".title.#{@type.underscore}")
  .dropdown.pull-right
    %button.btn.btn-default.dropdown-toggle{type: "button", id: "add_creditor", data: {toggle: "dropdown"}}
      =icon_link_to 'plus', new_model_path
      %span.caret
    %ul.dropdown-menu
      %li= link_to t('.new_person'), new_person_path, id: 'add_person'
      %li= link_to t('.new_organization'), new_organization_path, id: 'add_organization'

%table.table.table-striped
  %thead
    %tr
      %th= Address.human_attribute_name :full_name
      %th= Address.human_attribute_name :address
      %th= Address.human_attribute_name :email
      %th= Address.human_attribute_name :phone

  %tbody
    = render @addresses

