%h1 
  = t(".title.#{@type.underscore}")
  %small.entries-info= page_entries_info @addresses
  = render :partial => 'index_actions'

= search_form_for @q, url: creditors_path, class: 'form-vertical' do |f|
  %table.table.table-striped
    %thead
      %tr
        %th= sort_link(@q, :name, [:name, :first_name], t('activerecord.attributes.address.full_name'), id: :sort_by_name)
        %th= sort_link(@q, :street_number)
        %th= sort_link(@q, :city)
        %th= sort_link(@q, :country_code)
        %th
        %th
      = render partial: 'search', locals: {f: f}
    %tbody
      = render @addresses
  = paginate @addresses

