%h1 
  = t(".title.#{@type.underscore}")
  = icon_link_to 'plus', new_model_path, class: 'pull-right'

%table.table.table-striped
  %thead
    %tr
      %th= Address.human_attribute_name :full_name
      %th= Address.human_attribute_name :address
      %th
      %th

  %tbody
    = render @addresses

