- present(@address) do |address|
  %h1
    = address.full_name
    .pull-right
      = link_to t('links.edit'), edit_address_path(@address), class: 'btn btn-default', id: 'edit'
      = back_button cancel_path(@address)
  %p= address.detail_line
  = render partial: "show_#{@type.underscore}", locals: {address: address}
