- present(@address) do |address|
  %h1
    = address.full_name
    = render :partial => 'actions_dropdown'
  %p= address.detail_line
  = address.notes_paragraph

  = render :partial => 'contacts'
  = render :partial => 'accounts'
  -if address.creditor?
    = render :partial => 'credit_agreements'

