%p#notice= notice

%p
  %b Name:
  = @address.name
%p
  %b First name:
  = @address.first_name
%p
  %b Street number:
  = @address.street_number
%p
  %b City:
  = @address.city
%p
  %b Country:
  = @address.country
%p
  %b Salutation:
  = @address.salutation
%p
  %b Type:
  = @address.type

= link_to 'Edit', edit_address_path(@address)
\|
= link_to 'Back', addresses_path
