= simple_form_for @fund do |f|
  .form-inputs
    = f.input :interest_rate
    = f.input :limit, as: :select, collection: limit_options
    = f.input :issued_at, wrapper: :horizontal_multi_select

  .form-actions
    = f.button :submit, class: 'btn-primary', id: 'submit'
    = quit_button(:cancel)
