%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button{type: "button", class:"navbar-toggle collapsed", data: {toggle: "collapse", target: "#bs-example-navbar-collapse-1", "aria-expanded" => "false"}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'KV LaMa', project_path, class: 'navbar-brand active'
    -if user_signed_in?
      .collapse.navbar-collapse{id: "main-navigation"}
        %ul.nav.navbar-nav
          %li{class: controller.controller_name == 'project' ? 'active' : ''}
            = link_to t('.dashboard'), project_path
          %li{class: controller.controller_name == 'addresses' && @type == 'Creditor' ? 'active' : ''}
            = link_to t('.creditors'), creditors_path
          %li{class: controller.controller_name == 'users' ? 'active' : ''}
            = link_to t('.users'), users_path
        %ul.nav.navbar-nav.pull-right
          %li
            = icon_link_to 'log-out', destroy_user_session_path, method: :delete, title: t('devise.actions.log_out')
