%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button{type: "button", class:"navbar-toggle collapsed", data: {toggle: "collapse", target: "#main-navigation", "aria-expanded" => "false"}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "KV #{Setting.kavau.general[:project_name]}", project_path, class: 'navbar-brand active'
    -if user_signed_in?
      .collapse.navbar-collapse{id: "main-navigation"}
        %ul.nav.navbar-nav
          %li{class: controller.controller_name == 'project' ? 'active' : ''}
            = link_to t('.dashboard'), project_path
          = authorized_link :index, :creditor, t('.creditors'), wrap: :li, 
            wrapper_class: nav_class('addresses', @type == 'Creditor')
          = authorized_link :index, :credit_agreement, t('.credit_agreements'), wrap: :li,
            id: 'credit_agreements_index', wrapper_class: nav_class('credit_agreements')
          = authorized_link :index, :balance, t('.balances'), wrap: :li,
            id: 'balances_index', wrapper_class: nav_class('balances')
          = authorized_link :index, :payment, t('.payments'), wrap: :li,
            id: 'payments_index', wrapper_class: nav_class('payments')
          = authorized_link :index, :letter, t('.letters'), wrap: :li,
            id: 'letters_index', wrapper_class: nav_class('letters')
          = authorized_link :index, :setting, t('.settings'), wrap: :li,
            id: 'settings_index', wrapper_class: nav_class('settings')
          = authorized_link :index, :user, t('.users'), wrap: :li,
            id: 'users_index', wrapper_class: nav_class('users')
        %ul.nav.navbar-nav.navbar-right
          = authorized_icon_link :edit, current_user, 
            icon: 'cog', wrap: :li, id: 'edit_profile', title: t('.edit_profile')
          = icon_link destroy_user_session_path, method: :delete, 
            wrap: :li, title: t('devise.actions.log_out'), icon: 'log-out'
