!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title KaVau
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    - unless controller.devise_controller?
      = stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track' => true
      = stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main.container{:role => "main"}
      //-if current_user
      //  = auto_session_timeout_js frequency: 30
      #content
        = render 'layouts/messages'
        = yield
