- present account do |a|
  %tr[account]
    %td= a.bank
    %td= a.bic
    %td= a.iban
    %td= a.owner
    %td= a.name
    %td.actions
      = authorized_edit_icon_link(account, nested_in: :address)
      = authorized_delete_icon_link(account, nested_in: :address)
