- present account do |a|
  %tr[account]
    %td
      = a.default
      = a.bank
    %td= a.bic
    %td= a.iban
    %td= a.owner
    %td= a.name
    %td.actions
      = authorized_icon_link :edit, account, nested_in: :address
      = authorized_icon_link :delete, account, nested_in: :address
